* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif; /* Depois podemos trocar pela sua fonte */
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita que o site crie uma barra de rolagem para os lados */
  scroll-behavior: smooth;
}

/* O SEGREDO ESTÁ AQUI: Zerando os limites da caixa do React */
#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}